<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/managers/assets/images/logo/logo3.png" type="image/png" />
    <!--plugins-->
    <link href="~/managers/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="~/managers/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/managers/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/managers/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/managers/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/managers/assets/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="~/managers/assets/css/style.css" rel="stylesheet" />
    <link href="~/managers/assets/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link href="~/managers/assets/css/pace.min.css" rel="stylesheet" />

    <!--Theme Styles-->
    <link href="~/managers/assets/css/dark-theme.css" rel="stylesheet" />
    <link href="~/managers/assets/css/light-theme.css" rel="stylesheet" />
    <link href="~/managers/assets/css/semi-dark.css" rel="stylesheet" />
    <link href="~/managers/assets/css/header-colors.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="wrapper">
        <!--end sidebar -->
        @RenderBody()
    </div>
    <!-- Bootstrap bundle JS -->
    <script src="~/managers/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/managers/assets/js/jquery.min.js"></script>
    <script src="~/managers/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/managers/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/managers/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/managers/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/managers/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/managers/assets/js/pace.min.js"></script>
    <script src="~/managers/assets/plugins/chartjs/js/Chart.min.js"></script>
    <script src="~/managers/assets/plugins/chartjs/js/Chart.extension.js"></script>
    <script src="~/managers/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--app-->
    <script src="~/managers/assets/js/app.js"></script>
    <script src="~/managers/assets/js/index.js"></script>
    <script>
        new PerfectScrollbar(".best-product")
    </script>
</body>

</html>
