@model COMP1640.Models.Post

@{
    Layout = "~/Views/Shared/_Layout_Students.cshtml";
}

<style>
    .navigation-wrapper .primary-navigation-wrapper header .navbar-brand:after{
        height:10px !important;
    }
    .vertical-center{
        bottom: 0;
        margin: auto;
        top: 5vw;
        position: absolute;
    }
    .container header{
        margin-top: 4vw !important;
    }
</style>

<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <header><h1>@Model.Title</h1></header>
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-12 col-sm-9">
                <div id="page-main">
                    <section id="event-detail">
                        <article class="event-detail">
                            <section id="event-header">
                                <header>
                                    <h2 class="event-date">@Model.PostedAt</h2>
                                </header>
                                <hr>
                                <figure>
                                    <span class="course-summary" id="course-length"><i class="fa fa-calendar-o"></i>@Model.User.FullName</span>
                                </figure>    
                                @* <figure>
                                    <span class="course-summary" id="course-length"><i class="fa fa-calendar-o"></i>7 weeks</span>
                                    <span class="course-summary" id="course-time-amount"><i class="fa fa-folder-o"></i>4-6 hours of work / week</span>
                                    <span class="course-summary" id="course-course-time"><i class="fa fa-clock-o"></i>6:00pm – 8:00pm</span>
                                </figure> *@
                            </section><!-- /#course-header -->

                            <section id="course-info">
                                <header><h2>Post Info</h2></header>
                                <p>@Model.Content</p>
                            </section><!-- /#course-info -->

                            <section id="comments">
                                <header><h2>Comments</h2></header>
                                <ul class="discussion-list">
                                    <li class="author-block">
                                        @* <figure class="author-picture"><img src="assets/img/student-testimonial.jpg"></figure> *@
                                        <article class="paragraph-wrapper">
                                            <div class="inner">
                                                <header><h5>Rachel Britain</h5></header>
                                                <div class="rating-individual" data-score="5"></div>
                                                <p>
                                                    Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus,
                                                    lacinia blandit mi tincidunt at. Vivamus vitae interdum felis.
                                                    Pellentesque congue mollis erat in imperdiet.
                                                </p>
                                            </div>
                                            <div class="comment-controls">
                                                <span>08-24-2014</span>
                                                <a href="#leave-reply">Reply</a>
                                            </div>
                                        </article>
                                    </li><!-- /parent item -->
                                    <li>
                                        <ul class="discussion-child">
                                            <li class="author-block">
                                                @* <figure class="author-picture"><img src="assets/img/discussion-author-03.jpg"></figure> *@
                                                <article class="paragraph-wrapper">
                                                    <div class="inner">
                                                        <header><h5>John Doe</h5></header>
                                                        <div class="rating-individual" data-score="4"></div>
                                                        <p>
                                                            Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus,
                                                            lacinia blandit mi tincidunt at. Vivamus vitae interdum felis.
                                                            Pellentesque congue mollis erat in imperdiet.
                                                        </p>
                                                    </div>
                                                    <div class="comment-controls">
                                                        <span>08-24-2014</span>
                                                        <a href="#leave-reply">Reply</a>
                                                    </div>
                                                </article>
                                            </li>
                                        </ul><!-- /.discussion-child -->
                                    </li><!-- /parent item -->
                                    <li class="author-block">
                                        @* <figure class="author-picture"><img src="assets/img/discussion-author-02.jpg"></figure> *@
                                        <article class="paragraph-wrapper">
                                            <div class="inner">
                                                <header><h5>Jane Mason</h5></header>
                                                <div class="rating-individual" data-score="5"></div>
                                                <p>
                                                    Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus,
                                                    lacinia blandit mi tincidunt at. Vivamus vitae interdum felis.
                                                    Pellentesque congue mollis erat in imperdiet.
                                                </p>
                                            </div>
                                            <div class="comment-controls">
                                                <span>08-24-2014</span>
                                                <a href="#leave-reply">Reply</a>
                                            </div>
                                        </article>
                                    </li><!-- /parent item -->
                                </ul><!-- /.discussion-list -->
                            </section><!-- /.comments -->

                            <section id="leave-reply">
                                <header><h2>Leave a Comment</h2></header>
                                <form class="reply-form" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="controls">
                                                    <label for="name">Your Name</label>
                                                    <input type="text" id="name" name="name" required="required">
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->
                                        </div><!-- /.col-md-4 -->
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="controls">
                                                    <label for="email">Your Email</label>
                                                    <input type="email"id="email" name="email" required="required">
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->
                                        </div><!-- /.col-md-4 -->
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <div class="controls">
                                                    <label for="message">Your Message</label>
                                                    <textarea name="message" id="message" required="required"></textarea>
                                                </div><!-- /.controls -->
                                            </div><!-- /.control-group -->
                                        </div><!-- /.col-md-4 -->
                                    </div><!-- /.row -->
                                    <div class="form-actions pull-right pb-lg-3">
                                        <input type="submit" class="btn btn-color-primary" value="Comment">
                                    </div><!-- /.form-actions -->
                                </form><!-- /.reply-form -->
                            </section>
                        </article><!-- /.course-detail -->
                    </section><!-- /.course-detail -->
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->