<style>
    .navigation-wrapper .primary-navigation-wrapper header .navbar-brand:after {
        height: 10px !important;
        }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <section id="comments">
                <header><h2>Chatting</h2></header>
                <br>
                <br>
                <div class="col-md-12 chat-sidebar left-chat">
                    <div id="user-chats left-chat">
                        <ul class="discussion-list">
                            <li class="author-block left-chat">
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><h5>Left</h5></header>
                                        <div class="rating-individual" data-score="5"></div>
                                        <p>
                                            Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus,
                                            lacinia blandit mi tincidunt at. Vivamus vitae interdum felis.
                                            Pellentesque congue mollis erat in imperdiet.
                                        </p>
                                    </div>
                                    <div class="comment-controls">
                                        <span>08-24-2014</span>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 chat-main chat-sidebar right-chat">
                    <div id="chat-messages">
                        <ul class="discussion-list">
                            <li class="author-block right-chat">
                                <article class="paragraph-wrapper">
                                    <div class="inner">
                                        <header><h5>Right</h5></header>
                                        <div class="rating-individual" data-score="5"></div>
                                        <p>
                                            Mauris elementum et libero ac pharetra. Proin tristique dapibus tellus,
                                            lacinia blandit mi tincidunt at. Vivamus vitae interdum felis.
                                            Pellentesque congue mollis erat in imperdiet.
                                        </p>
                                    </div>
                                    <div class="comment-controls">
                                        <span>08-24-2014</span>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="">
                            <div class="form-row align-items-center">
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="message-input" placeholder="Type your message...">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id="send-btn">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
