


<!-- Page Content -->
<div id="page-content">
    <!-- Slider -->
    <div id="homepage-carousel">
        <div class="container">
            <div class="homepage-carousel-wrapper">
                <div class="row">
                    <div class="col-md-6 col-sm-7">
                        <div class="image-carousel">
                            <div class="image-carousel-slide"><img src="~/students/assets/img/slide-1.jpg" alt=""></div>
                            <div class="image-carousel-slide"><img src="~/students/assets/img/slide-2.jpg" alt=""></div>
                            <div class="image-carousel-slide"><img src="~/students/assets/img/slide-3.jpg" alt=""></div>
                        </div><!-- /.slider-image -->
                    </div><!-- /.col-md-6 -->
                </div><!-- /.row -->
                <div class="background"></div>
            </div><!-- /.slider-wrapper -->
            <div class="slider-inner"></div>
        </div><!-- /.container -->
    </div>
    <!-- end Slider -->
    <!-- News, Events, About -->
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <section class="news-small" id="news-small">
                        <header>
                            <h2>News</h2>
                        </header>
                        <div class="section-content">
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">U-M School of Public Health, Detroit partners aim to improve air quality in the city</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">At 50, Center for the Education of Women celebrates a wider mission</a></header>
                            </article><!-- /article -->
                            <article>
                                <figure class="date"><i class="fa fa-file-o"></i>08-24-2014</figure>
                                <header><a href="#">Three U-Michigan scientists receive Sloan fellowships</a></header>
                            </article><!-- /article -->
                        </div><!-- /.section-content -->
                        <a href="" class="read-more stick-to-bottom">All News</a>
                    </section><!-- /.news-small -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-7 col-sm-12">
                    <section id="about">
                        <header>
                            <h2>About COMP1640</h2>
                        </header>
                        <div class="section-content">
                            @* <img src="~/students/assets/img/students.jpg" alt="" class="add-margin"> *@
                            <p>
                                <strong>Welcome to COMP 1640.</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio perspiciatis enim provident quasi hic earum. Soluta minus laboriosam impedit dolor asperiores numquam odit excepturi expedita nobis aut, sed, quos fuga.
                            </p>
                            @* <a href="" class="read-more stick-to-bottom">Read More</a> *@
                        </div><!-- /.section-content -->
                    </section><!-- /.about -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end News, Events, About -->
    <!-- Divisions, Connect -->
    <div class="block">
        <div class="container">
            <div class="block-dark-background">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <section id="division" class="has-dark-background">
                            <header>
                                <h2>Divisions</h2>
                            </header>
                            <div class="section-content">
                                <ul class="list-links">
                                    <li><a href="#">Accounting & Finance</a></li>
                                    <li><a href="#">Advertising & Marketing</a></li>
                                    <li><a href="#">Architecture & Interior</a></li>
                                    <li><a href="#">Arts & Design</a></li>
                                    <li><a href="#">Broadcasting & Journalism</a></li>
                                    <li><a href="#">Business & Management</a></li>
                                    <li><a href="#">Computing & IT</a></li>
                                </ul>
                            </div><!-- /.section-content -->
                        </section><!-- #.divisions -->
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <section id="connect" class="has-dark-background">
                            <header>
                                <h2>Connect</h2>
                            </header>
                            <div class="connect-block">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="active"><a href="#tab-twitter" data-toggle="pill"><i class="fa fa-twitter"></i>Twitter</a></li>
                                            <li><a href="#tab-facebook" data-toggle="pill"><i class="fa fa-facebook"></i>Facebook</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab-twitter">
                                            <div class="col-md-3">
                                                <article class="social-post twitter-post">
                                                    <header>15 minutes ago</header>
                                                    <figure><a href="#">universo</a></figure>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio augue, accumsan ut massa ut, faucibus gravida turpis.
                                                        <a href="http://bit.ly/1bMyz64">http://bit.ly/1bMyz64</a>
                                                    </p>
                                                </article><!-- /.twitter-post -->
                                            </div>
                                            <div class="col-md-3">
                                                <article class="social-post twitter-post">
                                                    <header>2 hours ago</header>
                                                    <figure><a href="#">universo</a></figure>
                                                    <p>
                                                        Nullam odio augue, accumsan ut massa ut, faucibus gravida turpis. Nulla eleifend libero mi, at consequat tellus.
                                                        <a href="http://bit.ly/1bMyz64">http://bit.ly/1bMyz64</a>
                                                    </p>
                                                </article><!-- /.twitter-post -->
                                            </div>
                                            <div class="col-md-3">
                                                <article class="social-post twitter-post">
                                                    <header>February 02, 2014</header>
                                                    <figure><a href="#">universo</a></figure>
                                                    <p>
                                                        Ut at arcu sed justo laoreet iaculis ut nec leo. Aliquam laoreet orci eu egestas fermentum.
                                                        <a href="http://bit.ly/1bMyz64">http://bit.ly/1bMyz64</a>
                                                    </p>
                                                </article><!-- /.twitter-post -->
                                            </div>
                                        </div><!-- /.tab-twitter -->
                                        <div class="tab-pane fade" id="tab-facebook">
                                            <div class="col-md-3">
                                                <article class="social-post facebook-post">
                                                    <header>30 minutes ago</header>
                                                    <figure><a href="#">universo</a></figure>
                                                    <p>
                                                        Ut at arcu sed justo laoreet iaculis ut nec leo. Aliquam laoreet orci eu egestas fermentum.
                                                        <a href="http://bit.ly/1bMyz64">http://bit.ly/1bMyz64</a>
                                                    </p>
                                                </article><!-- /.twitter-post -->
                                            </div>
                                            <div class="col-md-3">
                                                <article class="social-post facebook-post">
                                                    <header>4 days ago</header>
                                                    <figure><a href="#">universo</a></figure>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio augue, accumsan ut massa ut, faucibus gravida turpis.
                                                        <a href="http://bit.ly/1bMyz64">http://bit.ly/1bMyz64</a>
                                                    </p>
                                                </article><!-- /.twitter-post -->
                                            </div>
                                            <div class="col-md-3">
                                                <article class="social-post facebook-post">
                                                    <header>One week ago</header>
                                                    <figure><a href="#">universo</a></figure>
                                                    <p>
                                                        Nullam odio augue, accumsan ut massa ut, faucibus gravida turpis. Nulla eleifend libero mi, at consequat tellus.
                                                        <a href="http://bit.ly/1bMyz64">http://bit.ly/1bMyz64</a>
                                                    </p>
                                                </article><!-- /.twitter-post -->
                                            </div>
                                        </div><!-- /.tab-twitter -->
                                    </div><!-- /.tab-content -->
                                </div><!-- /.row -->
                            </div><!-- /.section-content -->
                        </section><!-- #.divisions -->
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->
            </div><!-- /.block-dark-background -->
        </div><!-- /.container -->
    </div>
    <!-- end Divisions, Connect -->
</div>
<!-- end Page Content -->
