

<style>
    .navigation-wrapper .primary-navigation-wrapper header .navbar-brand:after {
        height: 10px !important;
    }
</style>
<!-- Breadcrumb -->
<div class="container">
    <ol class="breadcrumb">
        <li><a href="~/students/Index">Home</a></li>
        <li class="active">Submissions</li>
    </ol>
</div>
<!-- end Breadcrumb -->
<!-- Page Content -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <!--MAIN Content-->
            <div class="col-md-12">
                <div id="page-main">
                    <section class="course-listing" id="courses">
                        <header><h1>Submissions</h1></header>
                        <section id="course-search">
                            <div class="search-box">
                                <header><span class="fa fa-search"></span><h2>Find your submission</h2></header>
                                <form id="course-search-form" role="form" class="form-inline">
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="course-year">Course Year</label>
                                            <select name="course-type" id="course-year">
                                                <option value="">Year</option>
                                                <option value="2">2015 - 2016</option>
                                                <option value="3">2016 - 2017</option>
                                                <option value="4">2017 - 2018</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="course-department">Department</label>
                                            <select name="course-type" id="course-department">
                                                <option value="">Department</option>
                                                <option value="2">Department 1</option>
                                                <option value="3">Department 2</option>
                                                <option value="4">Department 3</option>
                                            </select>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="full-text">Name Course</label>
                                            <input name="full-text" id="full-text" placeholder="Enter Keyword" type="text">
                                        </div><!-- /.form-group -->
                                    </div>
                                    <button type="submit" class="btn pull-right">Search</button>
                                </form><!-- /#<!-- /.form-group -->
                            </div><!-- /.course-search-box -->
                        </section><!-- /#course-search -->
                        <section id="course-list">
                            <div class="table-responsive">
                                <table class="table table-hover course-list-table tablesorter">
                                    <thead>
                                        <tr>
                                            <th>Course Name</th>
                                            <th>Course Type</th>
                                            <th class="starts">Starts</th>
                                            <th class="length">Length</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">Introduction to modo 701</a></th>
                                            <th class="course-category"><a href="#">Graphic Design and 3D</a></th>
                                            <th>01-03-2014</th>
                                            <th>3 months</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">Become self marketer</a></th>
                                            <th class="course-category"><a href="#">Marketing</a></th>
                                            <th>03-03-2014</th>
                                            <th>2 lessons</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">How to find long term customers</a></th>
                                            <th class="course-category"><a href="#">Marketing</a></th>
                                            <th>06-03-2014</th>
                                            <th>1 month</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">Neuroscience and the future</a></th>
                                            <th class="course-category"><a href="#">Science</a></th>
                                            <th>21-03-2014</th>
                                            <th>3 weeks</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">History in complex view</a></th>
                                            <th class="course-category"><a href="#">History and Psychology</a></th>
                                            <th>06-04-2014</th>
                                            <th>1 lesson</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">Become self marketer</a></th>
                                            <th class="course-category"><a href="#">Marketing</a></th>
                                            <th>03-03-2014</th>
                                            <th>2 lessons</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">How to find long term customers</a></th>
                                            <th class="course-category"><a href="#">Marketing</a></th>
                                            <th>06-03-2014</th>
                                            <th>1 month</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">Neuroscience and the future</a></th>
                                            <th class="course-category"><a href="#">Science</a></th>
                                            <th>21-03-2014</th>
                                            <th>3 weeks</th>
                                        </tr>
                                        <tr>
                                            <th class="course-title"><a href="course-detail-v1.html">History in complex view</a></th>
                                            <th class="course-category"><a href="#">History and Psychology</a></th>
                                            <th>06-04-2014</th>
                                            <th>1 lesson</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </section><!-- /.course-listing -->
                    <div class="center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div><!-- /#page-main -->
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<!-- end Page Content -->