
@{
    Layout = "~/Views/Shared/_Layout_Manager_Table.cshtml";
}

<!--start content-->
<main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Forms</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a asp-controller="Managers" asp-action="Index"><i class="bx bx-home-alt"></i></a></li>
                    <li class="breadcrumb-item active">
                        <a asp-controller="Managers" asp-action="TableSubmissionDate">
                            List Submission Date
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Create Submission Date</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-xl-9 mx-auto">
            @* <h6 class="mb-0 text-uppercase">Horizontal Form</h6> *@
            <hr />
            <div class="card">
                <div class="card-body">
                    <div class="border p-4 rounded">
                        <!-- Start of form -->
                        <form action="your-server-endpoint" method="post">
                            <div class="card-title d-flex align-items-center">
                                <h5 class="mb-0">Create Submission Date</h5>
                            </div>
                            <hr />
                            <!-- Name Input -->
                            <div class="row mb-3">
                                <label for="inputEnterArticleName" class="col-sm-3 col-form-label">
                                    Article
                                    name
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputEnterArticleName"
                                           name="article_name" placeholder="Enter Article name">
                                </div>
                            </div>
                            <!-- Phone Number Input -->
                            <div class="row mb-3">
                                <label for="inputFacultyNo2" class="col-sm-3 col-form-label">Faculty</label>
                                <div class="col-sm-9">
                                    <select class="form-select" name="faculty"
                                            aria-label="Default select example">
                                        <option selected disabled>Choose Faculty</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Email Address Input -->
                            <div class="row mb-3">
                                <label for="inputEmailAddress2" class="col-sm-3 col-form-label">
                                    Email
                                    Address
                                </label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmailAddress2"
                                           name="email" placeholder="Email Address">
                                </div>
                            </div>
                            <!-- Choose Password Input -->
                            <div class="row mb-3">
                                <label for="inputChooseDate2" class="col-sm-3 col-form-label">
                                    Start Date
                                </label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" class="form-control" id="inputChooseDate2"
                                           name="start_datetime" placeholder="Choose Date Time">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputChooseDate2" class="col-sm-3 col-form-label">
                                    End Date
                                </label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" class="form-control" id="inputChooseDate2"
                                           name="end_datetime" placeholder="Choose Date Time">
                                </div>
                            </div>
                            <!-- Address Input -->
                            <div class="row mb-3">
                                <label for="inputDescription4"
                                       class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="inputDescription4" name="description"
                                              rows="3" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <!-- Submit Button -->
                            <div class="row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary px-5">Submit</button>
                                </div>
                            </div>
                        </form>
                        <!-- End of form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end row-->
</main>
<!--end page main-->