@model COMP1640.Models.Contribution;
@{
    Layout = "~/Views/Shared/_Layout_Students_Submission.cshtml";
}

<main class="page-content student">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Forms</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a asp-controller="Students" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Validations</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-xl-10 mx-auto pt-lg-5">
            <h6 class="mb-0 text-uppercase">Add new submission</h6>
            <hr />
            <div class="card">
                <div class="card-body">
                    <div class="p-4 border rounded">
                        <form asp-action='Create' enctype='multipart/form-data' class="row g-3">
                            <div class="col-md-6">
                                <label asp-for='Title' for="annualMagazineId" class="form-label">Title</label>
                                <input asp-for='Title' type="text" class="form-control" id="validationDefault02"
                                    value="" required>
                            </div>
                            <div class="col-md-6">
                                <label asp-for='AnnualMagazineId' class="form-label">Academic Year</label>
                                <select asp-for="AnnualMagazineId" class="form-control" id="annualMagazineId" required>
                                    <option value="">-- Select Annual Magazine Year --</option>
                                    @foreach (var item in ViewBag.annualMagazines)
                                    {
                                        <option value="@item.AnnualMagazineId">@item.AcademicYear - @item.Title</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="inputGroupFile01">Upload (.docx, .png, .jpg, .jpeg...)</label>
                                <input type="file" name='ContributionFile' class="form-control" id="inputGroupFile01"
                                    multiple required accept=".docx, .png, .jpg, .jpeg">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Submission Date:</label>
                                <input asp-for="SubmissionDate" readonly type="date" class="form-control" id="submissionDate"
                                    required>
                            </div>
                            @* <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                        onchange="validateCheckbox()" required>
                                    <label class="form-check-label" for="invalidCheck2">Agree to terms and
                                        conditions</label>
                                </div>
                            </div> *@
                            <div class="col-lg-3">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#termsModal">
                                    View Terms and Conditions
                                </button>
                            </div>
                            <!-- Terms and Conditions Modal -->
                            <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Place your terms and conditions text here -->
                                                <section>
                                                    <h4>Submission Guidelines:</h4>
                                                    <p>a. By submitting content, you agree to follow our submission guidelines as outlined by the editorial team.</p>
                                                    <p>b. Content submitted must be original work created by you and not infringe upon the intellectual property rights of any third party.</p>
                                                </section>
                                                <section>
                                                    <h4>Rights and Ownership:</h4>
                                                    <p>a. By submitting content to the magazine, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to reproduce, distribute, modify, adapt, and publish the content in any form or medium.</p>
                                                    <p>b. You retain the copyright to your original work and may use it for any other purpose not conflicting with the rights granted to us.</p>
                                                    <p>c. We reserve the right to edit or modify submitted content for clarity, style, or length without seeking additional approval.</p>
                                                </section>
                                                <section>
                                                    <h4>Representation and Warranties:</h4>
                                                    <p>a. By submitting content, you represent and warrant that you have the legal right and authority to do so.</p>
                                                    <p>b. You agree to indemnify and hold harmless the magazine and its affiliates from any claims, liabilities, damages, or expenses arising out of or related to your submission.</p>
                                                </section>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" onchange="validateCheckbox()" required>
                                                <label class="form-check-label" for="agreeTerms">I agree to the terms and conditions</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button id="submitBtn" class="btn btn-primary" type="submit" disabled>Submit
                                    form</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end row-->
</main>
<script>
    function validateCheckbox() {
        var checkbox = document.getElementById('invalidCheck2');
        var submitBtn = document.getElementById('submitBtn');

        if (checkbox.checked) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }
    var currentDate = new Date().toISOString().slice(0, 10);
    document.getElementById('submissionDate').value = currentDate;
</script>